.header {
  display: flex;
  align-items: center;
  margin-bottom: 5em;
}

.header_left {
  display: flex;
  align-items: center;
}

.left_logotext {
  margin-right: 1em;
  padding: 0 2em;
}

.left_home,
.left_notification {
  display: flex;
  align-items: center;
  margin-left: 0.6em;
  margin-right: 0.4em;
}

.current-location {
  color: crimson;
  border-bottom: 1px solid crimson;
}

.header_center {
  display: flex;
  align-items: center;
  margin: 0% 15%;
  border: 2px solid lightgray;
}

.header_center:hover {
  border: 2px solid rgb(233, 76, 136);
}

.center_inputfield {
  border: none;
}

.header_right {
  display: flex;
  align-items: center;
}

.right_user,
.right_icon,
.right_btn {
  margin: 1em;
}

.right_btn {
  border-radius: 21px;
  padding: 0.7em 2em;
  background-color: crimson;
  color: white;
}

.right_btn_a {
  color: white;
  text-decoration: none;
}
