.header {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(253, 251, 251, 0.2),
    0 6px 10px 0 rgba(196, 168, 168, 0.844);
}

.header_left {
  display: flex;
  align-items: center;
  color: rgb(39, 37, 37);
}

.left_logotext {
  margin-right: 1em;
  padding: 0 2em;
}

.left_home,
.left_notification {
  display: flex;
  align-items: center;
  margin-left: 0.6em;
  margin-right: 0.4em;
  color: rgb(39, 37, 37);
}

.current-location {
  color: crimson;
  border-bottom: 1px solid crimson;
}

.header_center {
  display: flex;
  align-items: center;
  margin: 0% 15%;
  border: 2px solid lightgray;
}

.header_center:hover {
  border: 2px solid rgb(233, 76, 136);
}

.center_inputfield {
  border: none;
  outline: none;
}

.header_right {
  display: flex;
  align-items: center;
}

.right_user,
.right_icon,
.right_btn {
  margin: 1em;
}

.right_btn {
  border-radius: 21px;
  padding: 0.7em 2em;
  background-color: rgb(0, 0, 0);
  color: white;
  outline: none;
  border: 2px solid rgb(2, 41, 80);
}

.right_btn_a {
  color: white;
  text-decoration: none;
}

.right_btn:hover {
  background-color: #0cb7d3;
}
