.QuestionBox {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  border: 1px solid lightgray;
  width: 80%;
  margin: 0 auto;
  outline: none;
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.4em 1.5em;
}

.questionBox_user {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  background-color: rgb(255, 255, 255);
}

.QuestionBox_inputfield {
  margin-bottom: 2em;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  height: 30px;
  flex: 1;
  color: rgb(17, 17, 17);
  background-color: rgb(255, 255, 255);
}

.QuestionBox_inputfield::placeholder {
  font-weight: 500;
  font-size: medium;
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
}

.QuestionBox_inputField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: rgb(48, 46, 46);
}

.user_username {
  margin-left: 0.7em;
  color: rgb(0, 0, 0);
}

.QuestionBox__btn {
  margin-bottom: 2em;
  padding: 4px;
  background-color: rgb(17, 2, 5);
  outline: none;
  border: 2px solid rgb(216, 216, 216);
  padding: 1em;
  border-radius: 7px;
  color: rgb(218, 215, 215);
}

.QuestionBox__btn:hover {
  background: crimson;
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}
