:root {
  --background1: rgb(19, 31, 49);
  --background2: rgba(13, 18, 26, 0.94);
  --backgroundforapp: rgb(18, 20, 22);
  --backgroundAppJs: rgba(25, 28, 31);
  --textcolour: rgb(237, 229, 229);
  --secondarycolor: #10f89f;
}

.Questions {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background2);
  /*background-color: rgb(220, 220, 220);*/
  /*box-shadow: rgba(72, 11, 242, 0.878) 0px 5px 30px 0px;*/
  box-shadow: rgba(43, 38, 55, 0.707) 0px 5px 25px 0px;
  width: 84%;
  margin: 0 auto;
  margin-bottom: 3rem;
  transition: transform 0.4s;
}
.question:hover {
  transform: scale(1.1);
  box-shadow: rgba(119, 98, 179, 0.878) 0px 5px 25px 0px;
}

.question__profile {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--textcolour);
}

.question__profile > h4 {
  margin-left: 1rem;
}

.question__info {
  display: flex;
  flex-direction: column;
}

.question__question {
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--textcolour);
}

.question__stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
  color: var(--textcolour);
}

.likes,
.dislikes,
.comments {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.likes:hover {
  color: var(--secondarycolor);
}

.comments:hover {
  color: var(--secondarycolor);
}
